<h2>Binding</h2>
<app-binding></app-binding>

<h2>Input-Output Decorators</h2>
<app-a></app-a>

<h2>Directives</h2>
<app-directive></app-directive>

<h2>Component Communication</h2>
<h3>Parent to Child Communication</h3>
<app-parent></app-parent>

<h3>Child to Parent Communication</h3>
<app-parent2></app-parent2>

<h3>Child to Child Communication</h3>
<app-parent3></app-parent3>

<h2>Lifecycle Hooks</h2>
<app-lifecycle data="merhaba">ngAfterContentOnInit için Content</app-lifecycle>

<h2>Forms</h2>
<h3>Template-Driven</h3>
<app-templatedriven></app-templatedriven>

<h3>Model-Driven</h3>
<app-modeldriven></app-modeldriven>